

html{
    scroll-behavior: smooth;
}

body{
   background-color: #f9f6f8;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
   
}


